#background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bg.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo-container {
    width: 100px;
    height: 100px;
    background-image: url('./images/logo.jpg');
    background-size: cover;
    border-radius: 20px;
}

#logo-image {
    width: 100%;
    height: 100%;
}

#menu-button {
    width: 136px;
    height: 45px;
    /* Basic Color/Accent */
    background: #CAD6F1;
    border-radius: 20px;
    /* text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dd4c37; 
    font-weight: bold;  
}
#menu-button:hover{
    background:#dd4c37 ;
    color: #CAD6F1;
} 
#navbarNav{
    margin-right: 100px;
}#title{
    margin-top: 10px;
    
}#title span{
    
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: #4d3d3d;
    opacity: .5;
    color:#ffffff ;
        
}#descr span{
    
    border-radius: 10px;
    font-size: medium;    
    background-color: #4d3d3d;
    opacity: .5;
    color:#ffffff ;        
}#descr{
    
}